@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('home.css');
@import url('promocoes.css');
@import url('galeria.css');
@import url('testimonials.css');
@import url('footer.css');

:root {
    --color-primary-1: #fff9ea;
    --color-primary-2: #fff;
    --color-primary-3: #e9a209;
    --color-primary-4: #7bc5e2;
    --color-primary-5: #ffe8b4;
    --color-primary-6: #ede5cf;
    --color-primary-7: #de8ad0;

    --color-neutral-1: #1d1d1d;

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-4);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: #bbdeec;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-primary-2);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-neutral-1);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    color: var(--color-primary-3);
    font-size: 1.563rem;
}

.section-subtitle {
    font-size: 2.1875rem;
}

#phone_button {
    display: inline-flex;         
    align-items: center;           
    background-color: #25d366;     
    color: #fff;                  
    padding: 8px 16px;            
    border-radius: 8px;           
    text-decoration: none;        
    font-weight: 600;             
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;   
    margin: 0 8px;                
  }
  
  #phone_button:hover {
    background-color: #1ebc57;    
  }
  
  #phone_button button {
    background: transparent;       
    border: none;                  
    margin-right: 8px;             
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;                   
  }
  
  #phone_button i {
    font-size: 1.2rem;
    color: #fff;
  }
 
.modal {
  display: none;             
  position: fixed;          
  z-index: 100;             
  left: 0;
  top: 0;
  width: 100%;               
  height: 100%;              
  overflow: auto;            
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80%;
  animation-name: zoom;
  animation-duration: 0.6s;
  margin-top: 10%;
}

@keyframes zoom {
  from {transform: scale(0.7);}
  to {transform: scale(1);}
}

#modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

.modal .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.modal .close:hover {
  color: #bbb;
}

  
  @media screen and (max-width: 600px) {
    #phone_button {
      padding: 6px 12px;
      font-size: 0.9rem;
    }
    
    #phone_button i {
      font-size: 1rem;
    }
  }
  