/* 
   Estilos de componentes genéricos como botões, formulários, 
   boxes, grids, etc. Também classes utilitárias, se quiser.
*/

/*Botões*/
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background: #19b5fe;
  color: #fff;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 2.85em;
  line-height: 2.95em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover {
  background-color: #6abee0;
  border-color: #6abee0;
  color: #ffffff;
  transform: scale(1.05);
}

/* WhatsApp float */
.whatsapp-float {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 9999;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #25d366;
  color: #fff;
  font-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.whatsapp-float:hover {
  background-color: #20b15c;
}